{% extends 'base.html' %}
{% block content %}
<main class ="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App por Tyrone Mora</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, officia quas neque sit distinctio et iste quae autem voluptatibus deserunt blanditiis amet ipsa, eligendi dolorum quibusdam! Assumenda veniam officia odit.
    <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
            Singin
        </a>
        <a class="btn btn-dark" href="/signup/">
            Singup
        </a>
    </div>
    </section>
{% endblock %}
